<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="wrap">
                    <h3>Change Password</h3>
                    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" class="form-control" formControlName="password">
                            <small class="text-danger" *ngIf="!Form.controls['password'].valid && Form.controls['password'].touched">Password is required</small>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>