<section>
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <img src="{{postDetails.image}}" class="img-fluid mb-4 featured-img">
                <button type="button" class="btn category">{{ postDetails.category}}</button>
                <h1 class="heading">{{postDetails.title}}</h1>
                <p>{{ postDetails.description }}</p>
                <div class="author">{{ postDetails.authorName }}</div>

            </div>
        </div>
    </div>
</section>