<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="wrap">
                    <h3>Forgot Password</h3>
                    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Enter Email</label>
                            <input type="text" class="form-control" formControlName="email">
                            <small class="text-danger" *ngIf="!Form.controls['email'].valid && Form.controls['email'].touched">Email is required</small>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>